/* Set up the body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(to right, rgba( 0, 82, 152, 0.5),rgba(113, 179, 47, 0.5)),url('../src/assets/Background.gif');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }