/* Set up the body */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 99, 168, 0.7),rgba(123, 191, 67, 0.7));
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}